{{ form_start(form) }}
    {{ form_widget(form.content) }}
    <button class="btn btn-cta btn-lg" class="new_message" id="new_message" style="border-color: black; color: black">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
