<form action="{{ path('new_password', {'id': id}) }}" method="post">
    <label for="newPassword">Nouveau mot de passe</label>
    <input type="text" title="newPassword" name="newPassword">
    <button type="submit">Changer de mot de passe</button>
</form>