<form action="/security/new-password" method="post">
    <label for="email">Votre email</label>
    <input type="email" title="email" name="email" />
    <button type="submit">Réinitialiser votre mot de passe</button>
</form>